@model Learnonl.Data.Account
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delete Account </title>
    <link rel="shortcut icon" type="imagem/png" href="~/images/logo.png" />
    <link rel="stylesheet" href="~/assets/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div>
                    @Html.Partial("_Logoadmin")
                </div>
                <!-- Sidebar navigation-->
                @Html.Partial("_Navadmin")

                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            @Html.Partial("_Headeradmin")
            <!--  Header End -->
            <div class="container-fluid">
                <!--  Row 1 -->
                <div>
                    <h4>Delete Account</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Username)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Username)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Password)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UserRole)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UserRole)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Avatar)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Avatar)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.JoinDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.JoinDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.LastLogin)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.LastLogin)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BirthDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BirthDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="UserId" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a asp-action="Index">Back to List</a>
                    </form>
                </div>
                <div class="py-6 px-6 text-center">
                    <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank" class="pe-1 text-primary text-decoration-underline">AdminMart.com</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/sidebarmenu.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/assets/js/dashboard.js"></script>
</body>

</html>

